/.phpunit.cache
/node_modules
# /public/build  <- Vite build output git mein include karo (Hostinger ke liye)
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/public/sitemap.xml
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
